:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;

  h2{
    font-size: 50px;
    font-weight: 700;
    color: lime;
  }
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  ul{
   
    padding-right: 80px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin: 0 auto;
  }

  li {
    list-style: none;
    text-align: center;
    background-color: red;
    padding: 5px 10px;
    font-size: 20px;
  }

  button{
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
    text-transform: uppercase;
  }

  button:hover{
    background-color: navy;
    color: whitesmoke;
    transition: 2s  ease;
  }
 
}

@media (prefers-color-scheme: light) {

}